.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 47px;
    gap: 40px;
    height: 72px;
    border-bottom: 1px var(--color-grey-200) solid;
}
