/* CSS Borwser reset */

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proximanova-light-webfont.eot');
    src: url('./fonts/proximanova-light-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/proximanova-light-webfont.woff') format('woff'),
        url('./fonts/proximanova-light-webfont.ttf') format('truetype'),
        url('./fonts/proximanova-light-webfont.svg#proxima_novalight')
            format('svg');
    font-weight: 200;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Regular.eot');
    src: url('./fonts/ProximaNova-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/ProximaNova-Regular.woff') format('woff'),
        url('./fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('./fonts/ProximaNova-Regular.svg#proxima_nova_rgregular')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proximaNova-semibold.eot');
    src: url('./fonts/proximaNova-semibold.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/proximaNova-semibold.woff') format('woff'),
        url('./fonts/proximaNova-semibold.ttf') format('truetype'),
        url('./fonts/proximaNova-semibold.svg#ProximaNova-Semibold')
            format('svg');
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
}
